AlignTrailingComments: true
AlignAfterOpenBracket: false
Cpp11BracedListStyle: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
IndentWidth: 4
NamespaceIndentation: All
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Allman
IndentPPDirectives: None
ColumnLimit: 120
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveBitFields: false
BitFieldColonSpacing: None
SpaceBeforeAssignmentOperators: true
AlignOperands: AlignAfterOperator
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^"types.h"'
    Priority: -1
  - Regex: '^"constants/'
    Priority: 3
  - Regex: '^".+'
    Priority: 2
SortIncludes: true
AlignArrayOfStructures: Right
